
.content {
    max-width: 800px;
    margin: auto;
    padding: 4cm;
}
.column {
    float:left;
    width:33%;
}
.column > h1 {
    text-align: left;
    color:#1951FC;
    font-size: 57pt;
    font-family: Impact, 'Arial Narrow Bold';
    margin-bottom: 40pt;
}
.text {
    color:#C7E6F8;
}